#body{
  margin: 0px;
  padding: 0px;
}

#card{
    margin-top: 10vh;
    margin-left: 20vh;
    
       padding: 4vh;
    /*  */
    /* background-color: aliceblue;
    border: 2px solid black; */
      background-color: rgba(217, 214, 214, 0.421) ;
    border: 1vh solid    rgba(26, 145, 241, 0.459);
}

