/* h3{
    margin-right:800px;
} */

#container {
  margin-left: 8rem;
  /* background-color: beige; */
  margin-top: 2vh;
}

#upload {
  background-color:  lightblue;
 border: 3px solid rgb(75, 201, 244);
 
}

#correct {
  background-color: rgba(32, 178, 171, 0.678);
  
  border: 3px solid rgb(11, 165, 158);
}

#error {
  background-color: rgba(231, 118, 118, 0.898);
  border: 3px solid rgba(251, 34, 34, 0.898);
}

#headerhr {
  border: 1px solid rgb(9, 9, 9);
}

.headertitle {
  margin-top: 2vh;
}



#head {
  margin-top: 20px;
}

#hr {
  border: 2px solid saddlebrown;
  margin: -0.2px;
  margin-top: 25px;
  border-radius: 0rem;
}

img{
  margin-left: 45px;
}

