
/* h3{
    margin-right:800px;
} */

#container{
    margin-left: 17vh;
    /* background-color: beige; */
    margin-top: 2vh;
}

#upload{
    background-color: lightblue;

}

#correct{
    background-color: lightseagreen ;
    
}

#error{
    background-color:rgb(225, 92, 92)
}

#headerhr{
    border: 1px solid rgb(9, 9, 9);
    
}

.headertitle{
    margin-top: 2vh;
}

#back{
    /* margin-right: 10vh; */
    margin-left: 38rem
    

   
}

#head{
    margin-top:20px ;
}